In [1]:
import pandas as pd
import seaborn as sns
df = pd.read_csv('marketing_customer_analysis_clean.csv')

In [2]:
from sklearn.preprocessing import PowerTransformer, StandardScaler, MinMaxScaler
import matplotlib.pyplot as plt

In [3]:
from sklearn.preprocessing import OneHotEncoder

In [4]:
numericals_df = df.select_dtypes(include = 'number')

In [5]:
df.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [6]:
numericals_df.head()

,unnamed:_0,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount,month
0,0,4809.216960,48029,61,7.000000,52,0.000000,9,292.800000,2
1,1,2228.525238,0,64,3.000000,26,0.000000,1,744.924331,1
2,2,14947.917300,22139,100,34.000000,31,0.000000,2,480.000000,2
3,3,22332.439460,49078,97,10.000000,3,0.000000,2,484.013411,1
4,4,9025.067525,23675,117,15.149071,31,0.384256,7,707.925645,1

In [7]:
#X-y split (y is the target variable, in this case, "total claim amount")

In [8]:
#droping nas

In [9]:
numericals_df = numericals_df.dropna()

In [10]:
#drpping duplicatey

In [11]:
numericals_df = numericals_df.drop_duplicates()

In [12]:
#X-y split

In [13]:
X = numericals_df[["customer_lifetime_value","income","monthly_premium_auto","months_since_last_claim","months_since_policy_inception","number_of_open_complaints","number_of_policies","month"]]

In [14]:
y = numericals_df[["total_claim_amount"]]

In [15]:
#train_test split

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [18]:
y_test

      total_claim_amount
4829          475.423848
5081          350.400000
5011          482.400000
4625          673.342650
3838          302.400000
...                  ...
7450          460.266881
4715          405.883346
8581           41.182611
211           364.800000
3509           89.411365

[2728 rows x 1 columns]

In [19]:
#Standardize the data (after the data split!).

In [20]:
scaler = MinMaxScaler()

In [21]:
X_train_fited = scaler.fit(X_train)
X_train_fited = scaler.transform(X_train)
X_test_fited = scaler.transform(X_test)

In [22]:
#Apply linear regression.

In [23]:
from sklearn.linear_model import LinearRegression

In [24]:
lm = LinearRegression()
model = lm.fit(X_train_fited,y_train)

In [25]:
model.coef_

array([[ -50.62965841, -329.23400405, 1277.63286543,    6.26751522,
         -17.67280274,   -2.49417714,    2.37349486,   -1.82471227]])

In [26]:
model.intercept_

array([393.90615692])

In [27]:
#predict mass of the random numerical

In [ ]:
random_numericals

In [ ]:
model.predict(random_numericals)

In [ ]:
#create prediction for test set

In [ ]:
y_pred = model.predict(X_test_fited)

In [ ]:
y_pred = pd.DataFrame(y_pred)

In [ ]:
y_test = y_test.reset_index(drop=True)

In [ ]:
resiudals_df = pd.concat([y_test,y_pred],axis=1)

In [ ]:
residuals_df = resiudals_df.rename(columns={"total_claim_amount":"y_test", 0:"y_pred"})

In [ ]:
residuals_df["residual"] = residuals_df["y_test"]-residuals_df["y_pred"]

In [ ]:
residuals_df.head()

In [ ]:
mean_error = residuals_df["residual"].mean()

In [ ]:
mean_error

In [ ]:
from sklearn.metrics import mean_squared_error as mse , mean_absolute_error as mae

In [ ]:
mse(y_test,y_pred)

In [ ]:
mae(y_test,y_pred)

In [ ]:
rmse = mse(y_test,y_pred, squared = False)