In [24]:
import pandas as pd
import seaborn as sns
df = pd.read_csv('marketing_customer_analysis_clean.csv')

In [25]:
from sklearn.preprocessing import PowerTransformer, StandardScaler, MinMaxScaler
import matplotlib.pyplot as plt

In [26]:
from sklearn.preprocessing import OneHotEncoder

In [27]:
numericals_df = df.select_dtypes(include = 'number')

In [28]:
df.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [29]:
numericals_df.head()

,unnamed:_0,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount,month
0,0,4809.216960,48029,61,7.000000,52,0.000000,9,292.800000,2
1,1,2228.525238,0,64,3.000000,26,0.000000,1,744.924331,1
2,2,14947.917300,22139,100,34.000000,31,0.000000,2,480.000000,2
3,3,22332.439460,49078,97,10.000000,3,0.000000,2,484.013411,1
4,4,9025.067525,23675,117,15.149071,31,0.384256,7,707.925645,1

In [30]:
#X-y split (y is the target variable, in this case, "total claim amount")

In [31]:
#droping nas

In [32]:
numericals_df = numericals_df.dropna()

In [33]:
#drpping duplicatey

In [34]:
numericals_df = numericals_df.drop_duplicates()

In [35]:
#X-y split

In [100]:
X = numericals_df[["customer_lifetime_value","income","monthly_premium_auto","months_since_last_claim","months_since_policy_inception","number_of_open_complaints","number_of_policies","month"]]

In [101]:
y = numericals_df[["total_claim_amount"]]

In [102]:
#train_test split

In [103]:
from sklearn.model_selection import train_test_split

In [104]:
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [105]:
y_test

      total_claim_amount
4829            0.164294
5081            0.121080
5011            0.166705
4625            0.232703
3838            0.104489
...                  ...
7450            0.159055
4715            0.140257
8581            0.014200
211             0.126057
3509            0.030870

[2728 rows x 1 columns]

In [106]:
#Standardize the data (after the data split!).

In [107]:
scaler = MinMaxScaler()

In [108]:
numerical_columns = ["customer_lifetime_value", "income", "monthly_premium_auto", 
                     "months_since_last_claim", "months_since_policy_inception",
                     "number_of_open_complaints", "number_of_policies", 
                     "total_claim_amount", "month"]

In [109]:
numericals_scaled = scaler.fit_transform(numericals_df[numerical_columns])

In [110]:
numericals_scaled_df = pd.DataFrame(numericals_scaled, columns=numerical_columns)

In [111]:
numericals_scaled_df

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount,month
0,0.035752,0.480381,0.000000,0.200000,0.525253,0.000000,1.000,0.101171,1.0
1,0.004059,0.000000,0.012658,0.085714,0.262626,0.000000,0.000,0.257445,0.0
2,0.160264,0.221432,0.164557,0.971429,0.313131,0.000000,0.125,0.165875,1.0
3,0.250953,0.490873,0.151899,0.285714,0.030303,0.000000,0.125,0.167263,0.0
4,0.087527,0.236795,0.236287,0.432831,0.313131,0.076851,0.750,0.244657,0.0
...,...,...,...,...,...,...,...,...,...
10905,0.167823,0.000000,0.810127,0.432831,0.404040,0.076851,0.750,0.419717,0.0
10906,0.041281,0.611576,0.016878,0.200000,0.686869,0.000000,0.625,0.094333,0.0
10907,0.270122,0.398446,0.590717,0.314286,0.636364,0.000000,0.125,0.131763,1.0
10908,0.123717,0.642072,0.409283,0.000000,0.272727,0.800000,0.625,0.213674,1.0
10909,0.060907,0.000000,0.168776,0.885714,0.010101,0.000000,0.250,0.353118,0.0

In [112]:
#Apply linear regression.

In [113]:
from sklearn.linear_model import LinearRegression

In [114]:
lm = LinearRegression()
model = lm.fit(X_train,y_train)

In [115]:
model.coef_

array([[-0.0174999 , -0.11379813,  0.44160759,  0.00216634, -0.00610852,
        -0.0008621 ,  0.00082039, -0.0006307 ]])

In [116]:
model.intercept_

array([0.13611753])

In [117]:
#predict mass of the random numerical

In [118]:
random_numericals = X_test.sample()

In [119]:
random_numericals

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,month
2012,0.057182,0.252268,0.122363,0.8,0.69697,0.0,0.25,0.0

In [120]:
model.predict(random_numericals)

array([[0.15812631]])

In [121]:
#create prediction for test set

In [122]:
y_pred = model.predict(X_test)

In [123]:
y_pred = pd.DataFrame(y_pred)

In [124]:
y_test = y_test.reset_index(drop=True)

In [125]:
resiudals_df = pd.concat([y_test,y_pred],axis=1)

In [126]:
residuals_df = resiudals_df.rename(columns={"total_claim_amount":"y_test", 0:"y_pred"})

In [127]:
residuals_df["residual"] = residuals_df["y_test"]-residuals_df["y_pred"]

In [128]:
residuals_df.head()

     y_test    y_pred  residual
0  0.164294  0.042505  0.121789
1  0.121080  0.121180 -0.000101
2  0.166705  0.143680  0.023025
3  0.232703  0.149978  0.082725
4  0.104489  0.053766  0.050723

In [129]:
mean_error = residuals_df["residual"].mean()

In [130]:
mean_error

0.001599864354202508

In [131]:
from sklearn.metrics import mean_squared_error as mse , mean_absolute_error as mae

In [132]:
mse(y_test,y_pred)

0.004837626168542912

In [133]:
mae(y_test,y_pred)

0.05046221831668163

In [134]:
rmse = mse(y_test,y_pred, squared = False)